body {
    background-image: url('background.jpg');
    background-size: 1vw;
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}

h1 {
    color: coral;
    font-weight: bold;
}

p {
    color: teal;
}

#tsbb {
    font-size: 18px; /* Set the font size to 18px */
    font-style: oblique; /* Set the font style to oblique */
}
