body {
    background-image: background.jpg;
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}
h1 {
    color: coral;
    font-weight: bold;
}
p {
    color: teal;
}

#tsbb {
    font-style: oblique 18deg;
}